<div #container class="h-screen flex flex-col items-center py-5 px-5">
  <h1 class="text-4xl mb-2 font-bold text-blue-brown">
    {{ title | uppercase }}
  </h1>
  <main class="h-full w-full max-w-screen-md flex flex-col gap-3">
    <div class="flex justify-between gap-3">
      <button class="button-primary" (click)="openModal(modal)">
        Add to Task
      </button>
      <button
        class="button-secondary min-w-[15ch] flex rounded justify-between"
      >
        <span>All</span>
        <span>
          <fa-icon [icon]="faChevronDown"></fa-icon>
        </span>
      </button>
    </div>
    <!-- LIST OF TASKS-->
    <app-task-list />
  </main>
</div>

<app-modal #modal [container]="container">
  <h2 class="text-2xl py-2 font-semibold">Add Task</h2>
  <form class="flex flex-col gap-4">
    <div class="flex flex-col gap-1">
      <label class="text-sm text-blue-brown">Title</label>
      <input #titleInput class="px-2 py-1 w-full outline-button" type="text" />
    </div>
    <div class="flex flex-col gap-1">
      <label class="text-sm text-blue-brown">Status</label>
      <input class="px-2 py-1 w-full outline-button" type="text" />
    </div>
    <div class="flex gap-5">
      <button class="button-primary">Add Task</button>
      <button class="button-secondary">cancel</button>
    </div>
  </form>
</app-modal>
