<div #container class="h-screen flex flex-col items-center py-5 px-5">
  <h1 class="text-4xl mb-2 font-bold text-blue-brown">
    {{ title | uppercase }}
  </h1>
  <main class="h-full w-full max-w-screen-md flex flex-col gap-3">
    <div class="flex justify-between gap-3">
      <button class="button-primary" (click)="openModal(modal)">
        Add to Task
      </button>
      <button
        class="button-secondary min-w-[15ch] flex rounded justify-between"
      >
        <span>All</span>
        <span>
          <fa-icon [icon]="faChevronDown"></fa-icon>
        </span>
      </button>
    </div>
    <!-- LIST OF TASKS-->
    <app-task-list (edit-task)="openModalEdit($event, modal)" />
  </main>
</div>

<app-modal (closeModal)="resetModal()" #modal [container]="container">
  @if (form().isEditModal) {
    <h2 class="text-2xl py-2 font-semibold">Edit Task</h2>
  } @else {
    <h2 class="text-2xl py-2 font-semibold">Add Task</h2>
  }
  <div class="flex flex-col gap-4">
    <div class="flex flex-col gap-1">
      <label class="text-sm text-blue-brown">Title</label>
      <input
        (blur)="flagAsDrity()"
        [(ngModel)]="titleInput"
        #titleInputElement
        class="px-2 py-1 w-full outline-button"
        type="text"
      />
      <span
        class="text-red-500 text-xs"
        [class.invisible]="isValidForm() || !form().isFocused"
        [class.visible]="!isValidForm() && form().isFocused"
        >Debe tener almenos 4 caracteres</span
      >
    </div>
    <div class="flex flex-col gap-1">
      <label class="text-sm text-blue-brown">Status</label>
      <!--<input class="px-2 py-1 w-full outline-button" type="text" />-->
      <ng-select
        [items]="statusOptions"
        [bindLabel]="'label'"
        [bindValue]="'value'"
        [multiple]="false"
        [closeOnSelect]="true"
        [searchable]="true"
        [clearable]="false"
        [(ngModel)]="isCompleted"
      ></ng-select>
    </div>
    <div class="flex gap-5">
      @if (form().isEditModal) {
        <button (click)="editTask(modal)" class="button-primary">
          Edit Task
        </button>
      } @else {
        <button (click)="addTask(modal)" class="button-primary">
          Add Task
        </button>
      }
      <button (click)="modal.closeModal()" class="button-secondary">
        cancel
      </button>
    </div>
  </div>
</app-modal>
